.landing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  > main {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
    background-position: 10% 100%;
    .main-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      z-index: 10;
    }
    img {
      width: 160px;
      height: 160px;
      border: 5px solid #fff;
      border-radius: 50%;
      flex-shrink: 0;
      margin: 0px auto;
    }
    h1 {
      color: #fff;
      margin: 30px 0 15px;
    }
    p {
      color: #ccc;
      margin: 0;
      font-size: 18px;
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-size: cover;
      background-position: inherit;
      background-image: url(../../shared/assets/images/homepage.jpg);
      background-color: #fff;
      image-rendering: pixelated;
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to left, rgba(56,62,71,0.75) 60%, rgba(56,62,71,0.35));
      z-index: 2;
    }
    .social-networks {
      margin: 10px 0 0;
      a {
        color: #ccc;
        margin: 0 25px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  > nav {
    order: 1;
    flex: 1 1 100%;
    z-index: 10;
    .nav {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
      li {
        margin: 20px 30px;
        font-size: 24px;
      }
    }
  }
}
