@import "~shared/styles/variables/index.scss";

.headroom-wrapper {
  z-index: 200;
}
// .headroom--scrolled {
//   box-shadow: 1px 1px 1px #ddd;
// }
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background: rgba(255,255,255,0.95);
  box-shadow: 1px 1px 1px #ddd;
  align-items: center;
  .layout-limit-with {
    display: flex;
    width: 960px;
    padding: 0 20px;
  }
  &-logo {
    color: #333;
    font-size: 24px;
    flex: 0 0 300px;
    display: flex;
    align-items: center;
    strong {
      font-weight: 600;
    }
    .ui-comp-faviconme {
      margin-right: 10px;
    }
  }
  > .icon {
    cursor: pointer;
    display: none;
  }
  &-nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
    }
    li {
      display: flex;
      margin: 0 15px;
      &:last-child {
        margin-right: 0;
      }
      .active {
        color: #f66;
        transform: scale(1.2);
      }
    }
    a {
      color: rgba(0,0,0,0.54);
      border-bottom: 0;
      margin-top: 3px;
      font-size: 20px;
      .icon {
        font-size: 20px;
      }
      &:hover {
        color: #f33;
        transform: scale(1.2);
      }
    }
  }

  @media screen and (max-width: $ms-screen-md-max) {
    > .icon {
      position: fixed;
      top: 25px;
      right: 25px;
      font-size: 32px;
      display: inline-block;
      z-index: 100;
      &:hover {
        transform: scale(1.2);
      }
    }
    .icon-nav {
      color: #333;
    }
    .mobial-menu-open {
      display: flex;
      > ul {
        right: 0;
      }
    }
    &-nav {
      position: absolute;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      right: 0;
      display: none;
      background: rgba(0,0,0,0.65);
      justify-content: flex-end;
      > ul {
        position: relative;
        right: -230px;
        width: 230px;
        height: 100vh;
        display: flex;
        padding: 150px 0 0;
        background: #fff;
        flex-direction: column;
        li {
          padding: 10px 5px;
          display: flex;
          border-bottom: 1px solid #ddd;
          &:last-child {
            margin-right: 15px;
          }
          &:hover {
            background: #eee;
          }
          .active {
            transform: scale(1);
          }
        }
      }
      a {
        color: #333;
        flex-grow: 1;
        &:hover {
          color: #333;
          transform: scale(1);
        }
      }
    }
  }
}
