.ui-comp-faviconme {
  min-width: 60px;
  min-height: 60px;
  background: url(/assets/images/me01.jpg);
  background-size: cover;
  border: 5px solid #fff;
  border-radius: 50%;
  background-position: -130% 0%;
  z-index: 3;
}
