.ui-comp-cover {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  image-rendering: pixelated;
  box-shadow: 1px 1px 2px #ddd;
  &-content {
    z-index: 3;
  }
  &-before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: inherit;
    background-color: transparent;
    background-position: 0 50%;
    image-rendering: pixelated;
    z-index: 1;
  }
  &-after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(56,62,71,0.45);
    z-index: 2;
  }
}
