@import "~shared/styles/variables/index.scss";

.ui-comp-nav {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 50px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  text-align: center;
  z-index: 1;
  a, span {
    color: #999;
    border-bottom: 0;
    line-height: 40px;
    cursor: pointer;
    &:hover, &active {
      color: #333;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  @media screen and (min-width: 1200px) {
    right: 15%;
  }
}
