@import "./fonts/roboto.css";
@import "./fonts/fabricmdl2icons.css";

@import "./variables/index.scss";
@import "./components/index.scss";

body {
  color: #555;
  font-weight: 400;
  text-align: left;
  margin: 0;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font: 16px/1.6 Arial, 'Microsoft YaHei';
  box-sizing: border-box;
  .ms-Overlay {
    background-color: rgba(0,0,0,.4);
  }
}
.Roboto--loaded {
  body {
    font: 16px/1.8 'Roboto', Arial, 'Microsoft YaHei';
  }
}
.header, h1, h2, h3, h4, h5, h6 {
  color: #333;
}
.header, h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 500;
}
a {
  color: #038387;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease, border-color 0.2s ease;
  &:hover, &:active {
    color: #23a1a3;
    outline-width: 0;
    border-bottom-color: #32a1a3;
  }
}
p {
  margin: 1em 0;
}
.layout {

}

.layout-limit-with {
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $ms-screen-md-max) {
    width: calc(100% - 40px);
  }
}
