.markdown {
  .unidentified-md {
    text-align: center;
    margin: auto;
  }
  &-body {
    strong, b {
      color: #333;
      font-weight: 500;
      -webkit-font-smoothing: initial;
    }
    img {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
    figure {
      margin: 0;
    }
    h2, h3 {
      position: relative;
      line-height: 1.2em;
      margin: 50px 0 0;
      -webkit-font-smoothing: initial;
      &::before {
        content: "";
        border-left: 4px solid #038387;
        position: absolute;
        left: -13px;
        height: 85%;
        top: 12%;
      }
    }
    pre {
      font-size: 13px;
      padding: 15px 25px;
      background: #f6f6f6;
    }
    blockquote {
      margin: 2em 0;
      padding-left: 30px;
      border-left: 5px solid #e6e6e6;
    }
    .language-js {
      font-family: "Roboto Mono", "Menlo", "Consolas", monospace;
    }
  }
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  padding: 18px;
}
.warning:before {
  content:'\26A0';
  margin-right: 9px;
}

.rfc-page pre {
  font-family: inherit;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #e96900;
  font-weight: 400;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #42b983;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag {
  color: #2973b7;
  font-weight: normal;
  .hljs-name {
    color: #2973b7;
  }
  .hljs-attr {
    color: #e96900;
  }
}
.hljs-name,
.hljs-attribute {
  color: #e96900;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
