@import "./highlight/github.css";

.markdown {
  .unidentified-md {
    margin: 60px auto;
  }
  &-body {
    word-break: break-word;
    strong, b {
      color: #333;
      -webkit-font-smoothing: initial;
    }
    img {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
    figure {
      margin: 0;
    }
    h2, h3 {
      position: relative;
      line-height: 1.2em;
      margin: 50px 0 20px;
      -webkit-font-smoothing: initial;
      &::before {
        content: "";
        border-left: 4px solid #f33;
        position: absolute;
        left: -13px;
        height: 85%;
        top: 12%;
      }
    }
    pre {
      font-size: 13px;
      padding: 15px 25px;
      background: #f6f6f6;
      overflow: auto;
    }
    p > code {
      background: #fac5cd;
      border-radius: 2px;
    }
    blockquote {
      margin: 2em 0;
      padding-left: 30px;
      border-left: 5px solid #e6e6e6;
    }
    .language-js, .language-html {
      font-family: "Roboto Mono", "Menlo", "Consolas", monospace;
    }
  }
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  padding: 18px;
}
.warning:before {
  content:'\26A0';
  margin-right: 9px;
}

.rfc-page pre {
  font-family: inherit;
}
