.article {
  &-container {
    max-width: 650px;
    margin: 0 auto;
    > h1 {
      margin: 10px 0 10px;
      line-height: 1.2em;
    }
    > p {
      margin: 0;
      font-size: 14px;
      color: #aaa;
      margin-bottom: 50px;
      > span {
        margin: 0 10px 0;
      }
    }
  }
  &-body {
  }
}
