@import "~shared/styles/variables/index.scss";

.article {
  &-header {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    > h1 {
      margin: 0 0 10px;
      line-height: 1.2em;
    }
  }
  &-container {
    width: 100%;
    margin: 60px auto;
  }
  &-body {
    margin: 0 auto;
    padding: 20px 0;
  }
}
