.article-list {
  h2 {
    margin: 0 0 10px;
    line-height: 1.3em;
    > a {
      color: #333;
      &:hover {
        color: #f33;
      }
    }
  }
  &-item {
    position: relative;
    padding: 20px 0;
    .post-info {
      color: #999;
      margin: 0 0 16px;
      &-date {
        color: #999;
      }
      &-split {
        margin: 0 8px 0;
      }
      &.ms-Grid {
        padding: 0;
      }
    }
    &::after {
      position: absolute;
      top: -8px;
      left: 0;
      content: " ";
      width: 100%;
      border-bottom: 1px solid #ddd;
    }
  }
  .post-body {
    color: #999;
    margin: 15px 0;
  }
}
