.blog {
  &-cover {
    height: 380px;
    margin-bottom: 180px;
    align-items: center;
    h1 {
      color: #fff;
      font-size: 48px;
      margin-top: 120px;
      z-index: 3;
      text-shadow: 1px 2px 2px #666;
    }
  }
  &-faviconme {
    display: flex;
    margin-top: 100px;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    h3 {
      margin: 0;
      font-weight: 600;
      white-space: nowrap;
    }
  }
  &-icon-me-info {
    margin-bottom: -50px;
  }
  &-main {
    margin: 20px auto;
    max-width: 650px;
  }
}
.ms-Panel-headerText {
  font-weight: 500;
}
.fabric-categories-tags {
  margin-top: 30px;
}
