.blog {
  &-cover {
    height: 240px;
    margin-bottom: 80px;
    align-items: center;
    h1 {
      color: #fff;
      font-size: 48px;
      margin-top: 35px;
      z-index: 3;
      text-shadow: 1px 1px 1px #888;
    }
    .ui-comp-cover-before {
      background-position: 0 6%;
    }
  }
  &-faviconme {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    h4 {
      margin: 0;
      font-weight: 500;
      white-space: nowrap;
    }
  }
  &-icon-me-info {
    margin-bottom: -50px;
  }
  &-main {
    margin: 20px auto;
    max-width: 750px;
  }
  .social-networks {
    margin-bottom: 40px;
    text-align: center;
  }
  &-statistics {
    color: #aaa;
    font-size: 14px;
    padding: 0;
    font-weight: 600;
    margin-bottom: 12px;
    .blog-stc-bars {
      text-align: right;
      > span {
        cursor: pointer;
        display: inline-block;
        &:hover {
          color: #333;
          transform: scale(1.2);
        }
      }
    }
  }
}
.ms-Panel-headerText {
  font-weight: 500;
}
.fabric-categories-tags {
  margin-top: 30px;
}
