.article-list {
  h3 {
    margin: 0;
    line-height: 1.3em;
  }
  &-item {
    margin-bottom: 50px;
    p {
      margin: 0;
    }
  }
  .post-body {
    margin: 5px 0;
  }
  .post-author-date {
    color: #999;
    font-style: italic;
  }
}
